@charset "utf-8"
@import
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');

html { 
    background-color: #5176cc;
    overflow: hidden;
}

body{
    overflow-x: hidden;
}



.banner {
    max-width: 50%;
    max-height: 50%;
    text-align: center;
}

.banner img {
    margin-left: 50%;
    margin-right: 50%;
}


.bottom {
    min-width: 100%;
    min-height: 100%;
    background-color: #406c2a;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: "arial";
    font-size: 20px;
    padding-bottom: 100%;
}

#title {
    font-size: 35px;
}

p {
    margin: 2.5%;
}

